a {
    text-decoration: none !important;
}
ul {list-style: none;}
.event_main .container {
    max-width: 1024px;
    padding: 0px;
}
.edu01 {
    background-color: #aadaff;
}
.edu02 {
    background-color: #009a44;
}
.edu03 {
    background-color: #fff778;
}
.edu04 {
    background-color: #ffabab;
}
.edu05 {
    background-color: #d2adff;
}
.edu06{
    background-color: #43b9ae;
}
.bg-grey {
    background-color: #efefef;
}

.text-field-label {
    min-width: 150px;
}

.btn-disable-event {
    pointer-events: none;
    cursor: pointer;
}
.mb-large{margin-top:60px; margin-bottom: 100px !important;}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
  text-decoration: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  font-weight: 600;
  color: rgb(0, 0, 0);  
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.divider {height: 1px;border-top: 1px solid gray;width: 100%;margin-top: 5px;margin-bottom: 5px;}
.divider.pink {border-top: 1px solid rgb(241, 48, 80);}
.title-pink{color: rgb(241, 48, 80);font-weight: 600;}